.navbar {
    width: 100%;
    height: 100px;
    background-color: #0C151E;
    display: flex;
    flex-direction: row;
  }
  .navbar .leftNav {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
  }
  .navbar .leftNav img {
    height: 100%;
    width: auto;
  }
  .navbar .rightNav {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar a {
    color: #6A6A6A;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
  }
  .navbar a:hover{
    color:white;
  }
  .navbar .rightNav button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  .navbar .rightNav svg {
    font-size: 40px;
  }
  